---
---

<meta http-equiv="refresh" content="0; url=/now/" />
<link rel="canonical" href="/now/" />
<script>
  window.location.replace("/now");
</script>

<body>
  <a href="/threshold" class="enter-mark">
    <img src="/images/glyph/starmap-mark.png" alt="StarMap" />
  </a>

  <style>
    .enter-mark{
      display: inline-block;
      width: 84px;
      height: 84px;
    }

    .enter-mark img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0.9;
    }
  </style>
</body>
